[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
grpcio = "*"
numpy = "*"
opencv-python = "*"

[dev-packages]
flake8 = "*"
flake8-bugbear = "*"
flake8-commas = "*"
flake8-comprehensions = "*"
flake8-import-order = "*"
flake8-bandit = "*"
flake8-copyright = "*"
pep8-naming = "*"
matplotlib = "*"
grpcio-tools = "*"

[requires]
python_version = "3.8"
